@model BNS.Models.Transaction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.customerID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.customerID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.customerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.customerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.customerEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.customerEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionAmount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
