@model IEnumerable<NCB.Models.mvcCustomerModel>

@{
    ViewBag.Title = "Index";
}

<br />

<p>
    <a href="@Url.Action("AddorEdit","Customers")" class="btn btn-default"><i class="fa fa-plus"></i> Add New Customer</a>
</p>
<br />
<table class="table table-striped">
    <thead class="table-heading">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountType)
            </th>
            <th>Actions</th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CardNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountType)
        </td>
        <td>
            <a href="@Url.Action("AddorEdit","Customers", new { id = item.UserID})" class="btn btn-default"><i class="fa fa-pen"></i> Edit</a>
            <a onclick="Delete(@item.UserID)" class="btn btn-default"><i class="fa fa-trash"></i> Delete</a>
        </td>
    </tr>
}

</table>

@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });

        function Delete(id) {
            alertify.confirm('National Commercial Bank', 'Are You Sure You Want to Delete this Record ?', function () {
               var window = location.href = '@Url.Action("Delete","Customers")/' + id;
            }, null);
                
        }
    </script>
    }
