@model IEnumerable<NCBWebApp.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Customer Transactions</h1>


<table class="table table-striped">
    <thead class="table-heading">
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountType)
            </td>
            <td>
                <a asp-action="Withdraw" asp-route-id="@item.Id">Withdraw</a> |
                <a asp-action="Deposit" asp-route-id="@item.Id">Deposit</a> |
                <a asp-action="Display" asp-route-id="@item.Id">Display</a>
            </td>
        </tr>
}
    </tbody>
</table>
